html{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}
body{
    height: 100vh;
    background-color: #a14634;
    margin: 0%;
    padding: 0%;
    
}



.circle-01{
    z-index: 1;
    position: absolute;
    top: 26%;
    padding: 14rem;
    left: -10%;
    /* height: 33rem; */
    /* width: 21rem; */
    background-color: #d9d33d;
    border-radius: 20rem;

}

.circle-02{
    z-index: 1;
    position: absolute;
    top: 26%;
    padding: 14rem;
    left: 4%;
    /* height: 33rem; */
    /* width: 21rem; */
    background-color: #d9d33d;
    border-radius: 20rem;

}
.circle-03{
    z-index: 1;
    position: absolute;
    top: 26%;
    padding: 14rem;
    left: 22%;
    /* height: 33rem; */
    /* width: 21rem; */
    background-color: #d9d33d;
    border-radius: 20rem;
}
.circle-04{
    z-index: 1;
    position: absolute;
    top: 26%;
    padding: 14rem;
    left: 41%;
    /* height: 33rem; */
    /* width: 21rem; */
    background-color: #d9d33d;
    border-radius: 20rem;

}
.circle-05{
    
    z-index: 1;
    position: absolute;
    top: 26%;
    padding: 14rem;
    left: 56%;
    /* height: 33rem; */
    /* width: 21rem; */
    background-color: #d9d33d;
    border-radius: 20rem;

}
.circle-06{
    
    z-index: 1;
    position: absolute;
    top: 26%;
    padding: 14rem;
    left: 69%;
    /* height: 33rem; */
    /* width: 21rem; */
    background-color: #d9d33d;
    border-radius: 20rem;
}
.circle-07{
    z-index: 1;
    position: absolute;
    top: 26%;
    padding: 14rem;
    left: 84%;
    /* height: 33rem; */
    /* width: 21rem; */
    background-color: #d9d33d;
    border-radius: 20rem;
}

.semicircle-01{
    position: absolute;
    top: 42%;
    left: 13%;
    z-index: 2;
    padding: 6rem;
    box-shadow: -111px 15px 0 17px  #a14634;
    border-radius: 50%;
    transform: rotateZ(16deg);
   

   
}

.semicircle-02{
    position: absolute;
    top: 37%;
    left: 69%;
    z-index: 2;
    padding: 6rem;
    box-shadow: -111px 15px 0 17px #a14634;
    border-radius: 50%;
    transform: rotateZ(215deg);

}
